@import "partials/base";

@mixin profile($name) {
    background: url('/images/members/current/' + $name + '.jpg');
}

.hidden {
    display: none;
}

.section {
    width: 900px;
    float: left;
    h3 {
        margin-bottom: 0;
        margin-top: 1em;
    }
}

a#alumni {
    float: right;
    @include r20-button(gray);
}

a.profile {
    float: left;
    text-decoration: none;
}

.name {
    text-align: center;
    @include link-colors(black);
}

.image {
    width: 150px;
    height: 165px;
    margin: 5px;
    border: 1px solid #000000;
}

// Sopranos

#marylou {
    .hidden {
        @include profile('marylou-b');
    }
    .image {
        @include profile('marylou');
    }
    &:hover {
        .image {
            @include profile('marylou-b');
        }
    }
}

#erika {
    .hidden {
        @include profile('erika-b');
    }
    .image {
        @include profile('erika');
    }
    &:hover {
        .image {
            @include profile('erika-b');
        }
    }
}

#carolineg {
    .hidden {
        @include profile('carolineg-b');
    }
    .image {
        @include profile('carolineg');
    }
    &:hover {
        .image {
            @include profile('carolineg-b');
        }
    }
}

#deirdre {
    .hidden {
        @include profile('deirdre-b');
    }
    .image {
        @include profile('deirdre');
    }
    &:hover {
        .image {
            @include profile('deirdre-b');
        }
    }
}

// Altos

#desiree {
    .hidden {
        @include profile('desiree-b');
    }
    .image {
        @include profile('desiree');
    }
    &:hover {
        .image {
            @include profile('desiree-b');
        }
    }
}

#katherine {
    .hidden {
        @include profile('katherine-b');
    }
    .image {
        @include profile('katherine');
    }
    &:hover {
        .image {
            @include profile('katherine-b');
        }
    }
}

#viv {
    .hidden {
        @include profile('viv-b');
    }
    .image {
        @include profile('viv');
    }
    &:hover {
        .image {
            @include profile('viv-b');
        }
    }
}

#michaela {
    .hidden {
        @include profile('michaela-b');
    }
    .image {
        @include profile('michaela');
    }
    &:hover {
        .image {
            @include profile('michaela-b');
        }
    }
}

#chanyoung {
    .hidden {
        @include profile('chanyoung-b');
    }
    .image {
        @include profile('chanyoung');
    }
    &:hover {
        .image {
            @include profile('chanyoung-b');
        }
    }
}

// Tenors

#torin {
    .hidden {
        @include profile('torin-b');
    }
    .image {
        @include profile('torin');
    }
    &:hover {
        .image {
            @include profile('torin-b');
        }
    }
}

#sung {
    .hidden {
        @include profile('sung-b');
    }
    .image {
        @include profile('sung');
    }
    &:hover {
        .image {
            @include profile('sung-b');
        }
    }
}

#brian {
    .hidden {
        @include profile('brian-b');
    }
    .image {
        @include profile('brian');
    }
    &:hover {
        .image {
            @include profile('brian-b');
        }
    }
}

#ben {
    .hidden {
        @include profile('ben-b');
    }
    .image {
        @include profile('ben');
    }
    &:hover {
        .image {
            @include profile('ben-b');
        }
    }
}

#keelan {
    .hidden {
        @include profile('keelan-b');
    }
    .image {
        @include profile('keelan');
    }
    &:hover {
        .image {
            @include profile('keelan-b');
        }
    }
}

// Basses

#sam {
    .hidden {
        @include profile('sam-b');
    }
    .image {
        @include profile('sam');
    }
    &:hover {
        .image {
            @include profile('sam-b');
        }
    }
}

#john {
    .hidden {
        @include profile('john-b');
    }
    .image {
        @include profile('john');
    }
    &:hover {
        .image {
            @include profile('john-b');
        }
    }
}

#charlie {
    .hidden {
        @include profile('charlie-b');
    }
    .image {
        @include profile('charlie');
    }
    &:hover {
        .image {
            @include profile('charlie-b');
        }
    }
}

#blake {
    .hidden {
        @include profile('blake-b');
    }
    .image {
        @include profile('blake');
    }
    &:hover {
        .image {
            @include profile('blake-b');
        }
    }
}

#andy {
    .hidden {
        @include profile('andy-b');
    }
    .image {
        @include profile('andy');
    }
    &:hover {
        .image {
            @include profile('andy-b');
        }
    }
}